@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add these imports to your main CSS file or the component-specific CSS file */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.form-container {
    position: relative;
    max-width: 400px;
    margin: auto;
  }
  .form-container input[type='email'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
  }
  .form-container button {
    position: absolute;
    right: 10px;
    top: 5px;
    background-color: #8b0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
  }
  
  /* globals.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

/* styles/globals.css */
.left-aligned-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: fit-content; /* Adjust width if needed */
}

.left-aligned-list li {
  text-align: left; /* Ensure text is left-aligned */
  margin-bottom: 10px; /* Optional: Adds spacing between items */
}

.overflow-auto::-webkit-scrollbar{
  width:0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}
